<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block metatitle %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('Favicon/apple-touch-icon.png') }}">
    {#    Penser a mettre {{asset ('') pour le chemin  }}#}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('Favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('Favicon/favicon-32x32.png') }}">
    <link rel="manifest" href="{{asset('Favicon/site.webmanifest')}}">
    <link rel="mask-icon" href="{{'Favicon/safari-pinned-tab.svg'}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    {# LINK POUR SASS <link rel="stylesheet" href="{{asset('styles/appsass.css')}}">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{asset('styles/app.css')}}"> <!-- ne pas mettre le type ici sinon bug-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {#   NE PAS METTRE LE FAVICON SF SI ON SOUHAITE PERSONNALISER SON FAVICON SINON IL VA ECRASER LE NOTRE <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">#}
    {# A DECOMMENTER SI BESOIN DE BOOSTRAP POUR LE STYLE <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}
</head>

<body>
<header class="headerAdmin">
{#    <div class="image">#}
{#        <img src="{{ asset('images/la-chine-aux-rayons-x-couve-250x353.png') }}" alt="book-img">#}
{#    </div>#}
    <h1 class="adminh1">Admin </h1>
    {% for message in app.flashes('success') %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="error-message">
            {{ message }}
        </div>
    {% endfor %}
{#    {% for message in app.flashes('error403') %}#}
{#        <div class="error403-message">#}
{#            {{ message }}#}
{#        </div>#}
{#    {% endfor %}#}


    <nav class="header-nav-user">
        <ul class="admin-ul">
            <li><a href="{{ path('admin_articles_list_db') }}">Gérer les articles </a></li>
            <li><a href="{{ path('admin_categories_list_db') }}">Gérer les catégories </a></li>
            <li><a href="{{ path('admin_article_insert_formbuilder') }}">Insérer un article </a></li>
            <li><a href="{{ path('Admin_category_insert_formbuilder') }}">Insérer une catégorie </a></li>
            <li><a href="{{ path('admin_insert_user') }}">Insérer un user </a></li>
            <li><a href="{{ path('show_users') }}">Gérer les users </a></li>
            <li><a href="{{ path('admin_insert_review') }}">Gérer les Reviews </a></li>
            <li><a href="{{ path('app_admin_logout') }}">Se déconnecter </a></li>

        </ul>
    </nav>
</header>

{#<main>#}
{#    <p>hello</p>#}
{#</main>#}
{#<h1 class="adminh1">Admin </h1>#}

{% block content%}
{% endblock %}



<footer>
{#    <img class="footer-image" src="{{asset('images/buildings-city-downtown-1008696_blog_pexel-650x433.jpg')}}" alt="footer-logo">#}
    <p>&copy; 2024 Admin-LeiJie. All rights reserved.</p>
    <i class="fa-solid fa-torii-gate"></i>
</footer>
<!-- https://imgsrc.cineserie.com/2022/02/fotojet-3.jpg?ver=1 -->
<script src="{{ asset('Js/main.js') }}"></script>

{% block javascript %}
{% endblock %}
</body>
</html>

