{% extends "Guest/base.html.twig" %}

{% block metatitle%} Your articles page{% endblock %}

{% block content %}
<body>
    <main>
        <section>
                <div class="title">
                    <p id="test">A PROPOS</p>
                </div>
                <div class="text1">
                    <p>Ce blog est l’espace faisant le lien entre mes écrits et l’actualité, plus précisément une autre approche de ce qui nous est proposé de voir et d’entendre au sujet de la Chine. Mieux déchiffrer l’actualité en passant au crible divers médias, mieux mesurer les évènements et affiner la justesse de la vision que nous pouvons en avoir, voilà mon envie et mon challenge.</p>
                    <br>
                    <p>Car comme le dit si bien Bernard Werber:</p>
                </div>
                <div class="text2">
                    <p>«L’important n’est pas de convaincre, mais de donner à réfléchir.» </p>
                </div>
                <div class="text3">
                    <p>Mes écrits, articles ou essais, parlent de la Chine, du peuple chinois, de la culture chinoise, et, à travers ce prisme, proposent un regard différent sur le monde: un coup de projecteur, une analyse instantanée mettant en relief les grands ensembles macro économiques et financiers et leurs incidences sur les peuples et les Nations.</p>
                </div>
                <div class="text4">
                    <p>Mais cet arrêt sur image n’est jamais figé. Le lecteur peut sentir le mouvement sous le flot des mots. Une manière de toucher, de sentir, d’appréhender les volumes en perpétuelle évolution. J’ai souhaité, de la meilleure façon possible, offrir une grille de lecture permettant de mieux déchiffrer une actualité chinoise très largement reliée mais toujours très difficile à comprendre.</p>
                </div>
        </section>
        <section>
                <div class="title">
                    <p id="test">BLOG</p>
                </div>
        </section>
{#        <h1 class="poke">Your favorite Category is here</h1>#}
        <section class="list-articles">
            {% for category in categories %}
                <article class="article-category">
{#                    <div class="titreLogo">#}
{#                    </div>#}

{#                   {#<h1 class="poke2" style="">{{ category.title }}</h1>#}

                    <div class="pic-title">
                        <div class="poke2"><img src="{{ asset('images/'~category.image) }}" alt="pic_category"></div>
                        <a href="{{ path('category_db_by_id', {id:category.id}) }}"  style="text-decoration:none"><h1 class="poke3" style="">{{ category.title }}</h1></a>
                    </div>

                </article>

{#                <h1 class="poke2" style="background-color: {{ category.color }}">{{ category.title }}</h1>#}
            {#            <div class="test"><img src="{{asset('images/buildings-city-downtown-1008696_blog_pexel-650x433.jpg ' )}}" alt=""> </div>#}

            {#            <h1 class="poke2">{{ article.content}}</h1>#}
            {#            <h1 class="poke2">{{ article.description }}</h1>#}
            {#            <a href="{{ path('category_db_by_id', {id:catgory.id}) }}">Go get Your Category </a>#}


            {#            <h1 class="poke2">{{ category.createdAt |date("Y/m/d") }}</h1>#}
            {% endfor %}

        </section>

        <a href="{{ path('articles_list_db') }}">See Your Articles</a>

        <section class="section3">
            <p id="test3">Photos</p>
            <p id="test4">Contact</p>
        </section>

        <section>
            <div class="owl-carousel owl-theme">
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/agriculture-asia-china-235648-650x433.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/asia-beijing-china-19872-650x433.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/agriculture-china-contours-68495-650x433.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/clouds-daylight-great-wall-of-china-1423596-650x433.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/ancient-antique-architecture-879359-650x433.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/buildings-city-downtown-1008696-blog-pexel-650x433-66b3786f6ab8a.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/architecture-buildings-china-1366957-650x433.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/altar-ancient-architecture-345157-650x433.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/architecture-buildings-business-683419-650x433-66cc940e5d9a2.jpg') }}"></h4></div>
                <div class="item"><h4><img class="admin_image" src="{{ asset('images/Jerome_Photo003xx.jpg') }}"></h4></div>
                <div class="item"><h4>11</h4></div>
                <div class="item"><h4>12</h4></div>
            </div>
        </section>

</main>
</body>
{% endblock %}
{% block javascript %}
  <script src="{{ asset('Js/owl.carousel.js') }}"></script>
  <script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
  </script>
{% endblock%}
