{% extends "Guest/base.html.twig" %}

{#{% block metatitle%} Your Home-Page {% endblock %}#}

{% block content %}
<body>
    <main>
        <section class="bgcblanc">
            <article class="aPropos">
                <div class="title">
                    <p id="test">A PROPOS</p>
                </div>
                <div class="text1">
                    <p>Ce blog est l’espace faisant le lien entre mes écrits et l’actualité, plus précisément une autre approche de ce qui nous est proposé de voir et d’entendre au sujet de la Chine. Mieux déchiffrer l’actualité en passant au crible divers médias, mieux mesurer les évènements et affiner la justesse de la vision que nous pouvons en avoir, voilà mon envie et mon challenge.
                    </p><br>
                    <p>Car comme le dit si bien Bernard Werber:</p>
                </div>
                <div class="text2">
                    <p>«L’important n’est pas de convaincre, mais de donner à réfléchir.» </p>
                </div>
                <div class="text3">
                    <p>Mes écrits, articles ou essais, parlent de la Chine, du peuple chinois, de la culture chinoise, et, à travers ce prisme, proposent un regard différent sur le monde: un coup de projecteur, une analyse instantanée mettant en relief les grands ensembles macro économiques et financiers et leurs incidences sur les peuples et les Nations.</p>
                </div>
                <div class="text4">
                    <p>Mais cet arrêt sur image n’est jamais figé. Le lecteur peut sentir le mouvement sous le flot des mots. Une manière de toucher, de sentir, d’appréhender les volumes en perpétuelle évolution. J’ai souhaité, de la meilleure façon possible, offrir une grille de lecture permettant de mieux déchiffrer une actualité chinoise très largement reliée mais toujours très difficile à comprendre.</p>
                </div>
            </article>
        </section>
        <section class="bgcblanc">
            <article class="aPropos">
                {#     a voir pour responsive       <article class="aPropos">#}
                <div class="title">
                    <p id="test4">BLOG</p>
                </div>
            </article>
            <article class="list-articles">
                {% for category in categories %}
                    <article class="article-category">
                        <div class="pic-title">
                            <div class="poke2"><img class="home-page-blog-pic" src="{{ asset('images/'~category.image) }}" alt="pic_category"></div>
                            <a href="{{ path('category_db_by_id', {id:category.id}) }}"  style="text-decoration:none"><h1 class="poke3" style="">{{ category.title }}</h1></a>
                        </div>
                    </article>
                {% endfor %}
            </article>
        </section>
{#           surement a enlever  <a href="{{ path('articles_list_db') }}">See Your Articles</a>#}
        <section class="bgcJaune">
            <article class="aPropos2">
                                        {#                 <section class ="section3"></section>#}
                        <div class="title">
                            <p id="test1">QUI SUIS-JE?</p>
                        </div>
                   <div class="presentation">
                       <div class="item2"><img src="{{ asset('images/Jerome_Photo001x.jpg') }}" alt="LeiJie-Pic"></div>
                       <div class="text5">
                               <p>Titulaire d’une maitrise de langue littérature et civilisation chinoises, cela fait 30 ans que ma vie personnelle et professionnelle sont intimement liées à l’Asie et à la Chine.

                                   Un premier déplacement à Taiwan（台湾）en 1998 puis c’est l’appel irrésistible de la Chine continentale (中国大陆). Fort d’une expérience d’officier Relations Internationales (Chine) dans l’Armée de l’air, je pars y vivre et finis par m’y installer durant sept ans, de 2009 a 2016.

                                   Là bas, j’ai l’occasion d’exercer plusieurs professions, notamment Grand Ambassadeur pour des maisons de vins ou Manager de restaurants français et chinois. </p>
                       </div>

                   </div>
                    <div class="text5">
                        <p> C’est à ma demande et après deux ans passés en totale immersion que mes amis me donnent mon nom chinois, celui qui est aussi devenu mon nom d’auteur : </p>
                    </div>
                    <div class="text6">
                        <p>Lei Jie</p>
                    </div>
                    <div class="item3"><img src="{{ asset('images/lei-jie.png') }}" alt="LeiJie-Pic"></div>
            </article>
        </section>

        <section class="bgcBlanc">
            <article class="aPropos">
                    <div class="text7">
                        <p id="test2">LA CHINE AUX RAYONS X</p>
                    </div>
                    <div class="presentation">
                            <div class="text8">
                                <p>Comprendre la Chine, c’est aussi admettre un certain paradoxe existant entre la rigidité de ses lois et la souplesse de la philosophie portée par son peuple. Comprendre la place de la Chine dans le monde, c’est comprendre la réalité d’un pays gigantesque, chargé de traditions ancestrales, dont les choix économiques, sociaux et politiques ont toujours d’abord été tournés vers l’intérêt national.
                                  Au retour de sa longue expérience d’expatrié en Chine, Lei Jie, ainsi qu’il a été rebaptisé par ses amis chinois, a souhaité partager sa vision éclairée d’un pays encore largement méconnu par le monde occidental.</p><br>
                                <p>Au travers de ses différents enjeux économiques, sociaux, démographiques, écologiques, il nous livre un instantané à la fois pragmatique et visionnaire de la place de la Chine au cœur de l’actualité mondiale. Une Chine qu’il passe aux rayons X.</p>
                            </div>

                            <div class="item4">
                                <img src="{{ asset('images/la-chine-aux-rayons-x-couve-509x720.png') }}" alt="BookFront-Pic">
                            </div>

                            <div class="item4">
                                <img src="{{ asset('images/la-chine-aux-rayons-x.jpg') }}" alt="BookBack-Pic">
                            </div>
                    </div>`
                    <div class="text7">
                        <p>Acheter le livre ：</p>
                        <div class="buy-button"><a class="a-maishu " href="{{ 'https://www.thebookedition.com/fr/la-chine-aux-rayons-x-p-357133.html'}}"> 买书 </a></div>
                    </div>
            </article>

        </section>
{#        <section class="bgcblanc">#}
{#            <article class="aPropos">#}
                <div class="title">
                    <p id="test3">GALERIE DE PHOTOS</p>
                </div>
                <section >
                    <div class="owl-carousel owl-theme">
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/agriculture-asia-china-235648-650x433.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/asia-beijing-china-19872-650x433.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/agriculture-china-contours-68495-650x433.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/clouds-daylight-great-wall-of-china-1423596-650x433.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/ancient-antique-architecture-879359-650x433.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/buildings-city-downtown-1008696-blog-pexel-650x433-66b3786f6ab8a.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/architecture-buildings-china-1366957-650x433.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/altar-ancient-architecture-345157-650x433.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/architecture-buildings-business-683419-650x433-66cc940e5d9a2.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/Jerome_Photo003xx.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/Jerome_Photo003xx.jpg') }}"></h4></div>
                        <div class="item"><h4><img class="admin_image" src="{{ asset('images/Jerome_Photo003xx.jpg') }}"></h4></div>
                    </div>
                </section>
{#            </article>#}
{#        </section>#}

        <section class="newsletter">

            <div class="newsletter-pic" >
                <img class="admin_image2" src="{{ asset('images/lei-jie.png') }}">
                <div class="newsletter-button">
                    <p>Newsletter</p>
                    <label>
                        Votre email
                        <input type="email" name="email" />
                        <input type="submit" value="Suscribe"/>
                    </label>
                </div>
            </div>
            <div class="newsletter-button-text">
                <p class="NL">
                    Les sujets traités sur site vous intéressent ? Inscrivez-vous à notre Newsletter et recevez chaque mois  le meilleur de la culture et de l’actualité Chinoise passées aux rayons X !
                </p>
            </div>

        </section>
{#        <p id="test4">Contact</p>#}
</main>
</body>
{% endblock %}
{% block javascript %}
  <script src="{{ asset('Js/owl.carousel.js') }}"></script>
  <script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    autoplay:true,
    autoplayTimeout:2000,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
  </script>
{% endblock%}

